/*
Set the viewport? Confirm this.
Use relative sizing:
- em/rem for font size
- percentages for widths etc.
Use display inline-block for layout (not float)
Use media queries for responsive design
Set the media query breakpoints at natural breakpoints for content
*/

html {
	overflow-y: scroll;
	font-size: 16px;
	height: 100%;
	/* background-color: #f5f5f5; */
}

body {
	font-family: 'Barlow', sans-serif;
	height: 100%;
	/* background-color: #f5f5f5;  */
}

.whole-container {
	height: 100%;
}

/* .dossier{
	height:100%;
	background-color: blue;;
} */

/* Reusable Classes */

.has-serif-text {
	font-family: 'Playfair Display', serif;
}

.is-height-500 {
	height: 400px;
}

.has-background-primary-light {
	background-color: #eef3fc;
}

.my-button {
	text-decoration: none;
	color: #333333;
	padding: 8px;
	border: 1px solid #666666;
	border-radius: 1.5px;
}

.my-button-block {
	display: inline-block;
}

.my-button:hover {
	border: 1px solid #81bbc0;
	background-color: #81bbc0;
}

/* SPACERS */

.spacer-top-70 {
	margin-top: 70px;
}

.spacer-top-50 {
	margin-top: 50px;
}

.spacer-top-30 {
	margin-top: 30px;
}

.spacer-top-20 {
	margin-top: 20px;
}

.spacer-top-10 {
	margin-top: 10px;
}

.spacer-top-5 {
	margin-top:5px;
}

.spacer-bottom-70 {
	margin-bottom:70px;
}

.spacer-bottom-50 {
	margin-bottom:50px;
}

.spacer-bottom-30 {
	margin-bottom:30px;
}

.spacer-bottom-20 {
	margin-bottom:20px;
}

.spacer-bottom-10 {
	margin-bottom:10px;
}

.spacer-bottom-5 {
	margin-bottom:5px;
}

.spacer-bottom-3 {
	margin-bottom:10px;
}

.spacer-right-1 {
	margin-right: 1%;
}

.spacer-right-2 {
	margin-right: 2%;
}

.spacer-right-3 {
	margin-right: 3%;
}

.spacer-right-5 {
	margin-right: 5%;
}

.spacer-right-10 {
	margin-right: 10%;
}

.spacer-left-3 {
	margin-left: 3%;
}

.spacer-left-5 {
	margin-left: 5%;
}

.spacer-left-10 {
	margin-left: 10%;
}

/* END OF SPACERS */

.landing-img-small {
	height: 120px;
}

.pointer-on-hover {
	cursor: default;
}

.pointer-on-hover:hover {
	cursor: pointer;
}

#dicas-link {
	text-decoration: none;
	color: inherit;
}

#beta {
	background-color: #FFDC4D;
	font-style: italic;
	height: 40%;
}

#searchbox {
	display: inline-block;
	width: 50%;
	font-family: inherit;
	box-shadow: none;
	border:none;
	border-bottom: 2px solid #222222;
	border-radius: 0;
	background-color: inherit;
	color: #333333;
}

#searchbox:focus {
	outline: none;
	box-shadow: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover 
{
  border: 1px solid #52949a;;
  background-color: #52949a;
}

.searchButtons {
  height: 40px;
  width: 60px;
  border-radius: 1.5px;
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  position: relative;
  bottom: 6px;
  margin-left: 5px;
}

.searchSpan {
	font-size: 1.3rem;
	color: #444444;
	display: none;
}

.searchSpan:hover {
	color: #222222;
	cursor: pointer;
}

.showAdv {
	margin-left: 8px;
}

.searchButtons {
	margin-left: 5px;
}

#advancedSearch {
	margin-top: 2%;
	display: none;
}

.advInput {
	font-family: inherit;
	font-style: inherit;
	font-weight: bold;
	color: inherit;
	font-size: 1.1rem;
	box-shadow: none;
	border:none;
	border-bottom: 1px solid #1E2127;
}

#procSearch {
	width: 20%;	
}

#procSearch:focus {
	outline: none;
	box-shadow: none;
}

#dateSearchDiv div {
	display: inline-block;
}

#toDateDiv {
	margin-left: 2%;
}

.datePicker {
	box-shadow: none;
	border:none;
	border-bottom: 1px solid #1E2127;
}

.dateClear {
	cursor: pointer;
	font-size: 0.6rem;
	visibility: hidden;
	color: #FD8B85;
}

.advLabel {
	font-weight: bolder;
	color: #444444;
}

#tribCheckBoxes {
	width: 90%;
	max-width: 900px;
}

.tribLabel {
	margin-right: 5px;
	padding: 8px;
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
	border-radius: 2.5px;
}

.trib-long {
	display: inline-block;
}

.trib-short {
	display: none;
}

.tick-icon {
	color: #3c434f;
}

.not-ticked {
	display: none;
}

#orderByButtons {
	visibility: hidden;
}

.standardButton {
	outline: none;
	box-shadow: none;	
	background-color: #b4dce0;
	border: none;
	font-family: inherit;
	font-weight: normal;
	font-size: inherit;
	cursor: pointer;
	border-radius: 1.5px;
}

#searchResults {
	padding-bottom: 2%;
	clear: right;
}

.pageBtn {
	font-size: 1.5rem;
}

.acordao-box {
	border-left: 6px solid #2E8BC0;
}

.descritor-box {
	padding: 5px;
	border-radius: 15px;
}

.result-descritor {
    white-space: normal;
    padding: 5px;
}

.long-text {
	line-height: 1.5em;
}

.bottom-link:hover {
	border-bottom: 2px solid #FFE4AA;
}

.loading {
  display: none; 
  width: inherit;
  margin: 10% auto 0 auto;
  text-align: center;
}


.loading-bar {
  display: inline-block;
  width: 8px;
  height: 36px;
  border-radius: 8px;
  animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  background-color: #81bbc0;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #3c434f;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #81bbc0;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #3c434f;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

.emphasis-block {
	background-color: #e3e5e4;
	padding: 2%;
	width: 70%;
	border-left: 10px solid #FFE4AA;
}

#wrench {
	font-size: 3rem;
}

.search-example {
	color: #327a81;
	font-weight: bold;
}

.acks {
	float: right;
	font-size: 0.6rem;
	margin-bottom: 2%;
}

.help-img {
	width: 50%;
}

/**************************/
/* STYLE FOR ACORDAO PAGE */
/**************************/

/* sticky class makes the acordao side bar sticky!! */ 
.sticky	{
	position: sticky;
  	top: 30px;
}


@media only screen and (max-width: 1023px) {
	.whole-container {
		margin-left: 3%;
		margin-right: 3%;
	}
}

@media only screen and (max-width: 1000px) {
	#searchbox {
		width:60%;
	}
}

@media only screen and (max-width: 700px) {
	#top-nav {
		height:100%;
	}

	#menu-div {
		position: fixed;
		background-color: #81bbc0;;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		right: 0px;
		display: none;
	}

	#top-list {
		position: relative;
		margin-top: 15%;
	}

	#top-list li {
		display: block;
		margin-bottom: 10px;
		font-size: 1.5rem;
	}

	#menu-icon {
		display: block;
		z-index: 10;
		font-size: 1.5rem;	
	}

	#menu-close {
		z-index: 10;
		font-size: 1.5rem;		
	}

	.searchButtons {
		display: none;
	}

	.searchSpan {
		display: inline-block;
		font-size: 1.5rem;
	}

	.showAdv{
		margin-left: 4%;
	}

	#procSearch {
		width: 40%;	
		font-size: 1rem;
	}

	#dateSearchiv{
		font-size: 1rem;
	}

	#dateSearchDiv div {
		display: block;
		margin-left: 0;
		margin-bottom: 2%;
	}

	.dateClear {
		font-size: 0.8rem;
	}
	
	#tribCheckBoxes {
		max-width: 500px;
	}

	.trib-long {
		display: none;
	}

	.trib-short {
		display: inline-block;
	}

	#container {
		margin-top: 6%;
	}

	.emphasis-block {
		width: 90%;
	}

	.help-img {
		width: 90%;
	}
}


@media only screen and (max-width: 524px) {
	body {
		overflow-x: hidden;
	}

	header {
		width: 95%;
		margin: 0 auto;
	}

	#cheatDiv {
		font-size: 1.2rem;
	}

	#procSearchExp {
		font-size: 1.2rem;
	}

	#tribCheckBoxes {
		width: 95%;
	}

	.tribLabel {
		margin-right: 1px;
		margin-bottom: 6px;
	}

	#orderByButtons {
		margin-top: 5%;
	}	

	.loading {
  		width: inherit;
  		margin: 15% auto 0 auto;
	}
}


