/*
Set the viewport? Confirm this.
Use relative sizing:
- em/rem for font size
- percentages for widths etc.
Use display inline-block for layout (not float)
Use media queries for responsive design
Set the media query breakpoints at natural breakpoints for content
*/

html {
	height: 100%;
	overflow-y: scroll;
}

body {
	margin: 0px;
	padding:0px;
	border:0px;
	height: 100%;
	font-size: 16px;
}

header {
	height: 10%;
	margin-top: 0px;
	margin-bottom:20px;
	padding:10px;
}

header h1 {
	margin:0px;
}

#logo {
	font-family: 'Barlow', sans-serif;
	color: #3c434f;
}

#ponto {
	color: #2aed9c;
}

#content {
	padding-top: 5px;	
	margin: 0 auto;
	max-width: 65%;
	font-family: 'Barlow', sans-serif;
}

#searchbox {
	display: block;
	margin: 0 auto;
	box-shadow: none;
	border:none;
	border-bottom: 3px solid black;
	border-radius: 0;
	font-size: 2rem;
	font-family: 'Barlow', sans-serif;

}

#searchbox:focus {
	outline: none;
	box-shadow: none;
}

#searchResults {
	width:100%;
}

.acordao-result {
	margin-top: 2%;
	margin-bottom: 2%;
	padding-bottom:1%;
	font-size: 1.1em;
}

.acordao-result::after {
  content: "";
  display: block;
  border-bottom: 2px solid black;
  width: 35%;
  position: relative;
  padding-bottom:1%;
}

.acordao-result .main-link {
	font-size: 1.2rem
}

.result-field {
	font-weight: bold;
}

.result-descritores {
	margin-top:1%;
	margin-bottom:1%;
}

.result-descritor {
	margin-right:1%;
	font-weight: bold;
    white-space: nowrap;
}

.long-text {
	line-height: 1.5em;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
}

/*.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}*/

.loading-bar {
  display: inline-block;
  width: 8px;
  height: 36px;
  border-radius: 8px;
  animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  background-color: #2aed9c;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #3c434f;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #2aed9c;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #3c434f;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
