/*
Set the viewport? Confirm this.
Use relative sizing:
- em/rem for font size
- percentages for widths etc.
Use display inline-block for layout (not float)
Use media queries for responsive design
Set the media query breakpoints at natural breakpoints for content
*/

html {
	/*height: 100%;*/
	overflow-y: scroll;
	font-size: 16px;
	/*background-color: #f7f7f7;*/
}

body {
	margin: 0px;
	padding:0px;
	border:0px;
	/*height: 100%;*/
	font-family: 'Barlow', sans-serif;
	/*font-family: Helvetica;*/
	/*font-family: Times;*/
	/*color: #0f1013;*/
	color: #222222;
}

#all-content {
	margin: 0 auto;
	height: 100%;
	width: 80%;
	max-width: 1200px;
}

#outer-container {
	height: 100%;
	width: 100%;
}

#termos-container {
	margin-bottom: 5%;
	max-width: 90%;
}

header {
	margin-top: 0px;
	margin-bottom:15px;
	padding-top: 10px;
	position: relative;
}

header h1 {
	margin:0;
}

#logo {
	font-family: inherit;
	font-size: 0.85rem;
	display: inline-block;
}

#logo a {
	text-decoration: none;
	font-family: inherit;
	color: #3c434f;
}

#ponto {
	/*color: #2aed9c;*/
	/*color: #12e|880;*/
	/*color: #98ff98;*/
	color: #81bbc0;
}

#beta {
	background-color: #FFE4AA;
	padding: 1px;
	text-align: center;
	font-size: 0.8rem;
	font-style: italic;
}

#top-nav {
	margin: 0;
	padding: 0;
	position: absolute;
  	bottom: 0;
  	right: 0;
}

#menu-icon {
	margin: 0;
	padding: 0;
	position: absolute;
  	bottom: 0;
  	right: 0;
  	display: none;
}

#menu-close {
	margin: 0;
	padding: 0;
	position: absolute;
  	bottom: 0;
  	right: 0;
  	display: none;
}

#top-list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

#top-list li {
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 0;
}

#top-nav a {
	text-decoration: none;
	color: inherit;
}

#top-nav a:hover {
	border-bottom: 2px solid #FFE4AA;
}

#content {
	/*padding-top: 5%;	*/
	/*margin: 0 auto;*/
	margin-top: 8%;
	/*max-width: 65%;*/
	height:80%;
	width: inherit;
}

#searchbox {
	display: inline-block;
	width: 50%;
	/*margin: 0 auto;*/
	font-family: inherit;
	box-shadow: none;
	border:none;
	border-bottom: 3px solid #222222;
	border-radius: 0;
	font-size: 2rem;
	background-color: inherit;
	color: #333333;
}

#searchbox:focus {
	outline: none;
	box-shadow: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover 
{
  border: 1px solid #52949a;;
  background-color: #52949a;
}

.searchButtons {
  height: 40px;
  width: 60px;
  /*border-radius: 50%;*/
  border-radius: 1.5px;
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);*/
  position: relative;
  bottom: 6px;
  background-color: #e3e5e4;
  color: #333333;
  margin-left: 5px;
}

.searchButtons:hover {
	background-color: #B9C3BE;
}

.searchSpan {
	font-size: 1.3rem;
	color: #444444;
	cursor: pointer;
	display: none;
}

.searchSpan:hover {
	color: #222222;
}

.showAdv {
	margin-left: 8px;
}

.searchButtons {
	margin-left: 5px;
}

#advancedSearch {
	margin-top: 2%;
	display: none;
}

.advInput {
	font-family: inherit;
	font-style: inherit;
	font-weight: bold;
	color: inherit;
	font-size: 1.1rem;
	box-shadow: none;
	border:none;
	border-bottom: 1px solid #1E2127;
}

#procSearchDiv {
	margin-bottom: 2%;
}

#procSearch {
	width: 20%;	
}

#procSearch:focus {
	outline: none;
	box-shadow: none;
}

#dateSearchDiv div {
	display: inline-block;
}

#toDateDiv {
	margin-left: 2%;
}

.datePicker {
	box-shadow: none;
	border:none;
	border-bottom: 1px solid #1E2127;
}

.dateClear {
	cursor: pointer;
	font-size: 0.6rem;
	visibility: hidden;
	color: #FD8B85;
}

.advLabel {
	font-weight: bolder;
	color: #444444;
}

#tribCheckBoxes {
	margin-top: 3%;
	width: 90%;
	max-width: 1000px;
}

.tribLabel {
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 8px;
	white-space: nowrap;
	background-color: #b4dce0;
	display: inline-block;
	cursor: pointer;
	border-radius: 1.5px;
}

.trib-long {
	display: inline-block;
}

.trib-short {
	display: none;
}

.tick-icon {
	color: #3c434f;
}

.not-ticked {
	display: none;
}

#orderByButtons {
	visibility: hidden;
}

#orderByButtons button {
	outline: none;
	box-shadow: none;	
	/*background-color: #9ff8cd;*/
	background-color: #b4dce0;
	border: none;
	float:right;
	padding: 4px;
	font-family: inherit;
	font-weight: normal;
	font-size: inherit;
	cursor: pointer;
	padding: 1%;
	border-radius: 1.5px;
}

.standardButton {
	outline: none;
	box-shadow: none;	
	/*background-color: #9ff8cd;*/
	background-color: #b4dce0;
	border: none;
	font-family: inherit;
	font-weight: normal;
	font-size: inherit;
	cursor: pointer;
	border-radius: 1.5px;
}

#searchResults {
	width:85%;
	padding-bottom: 2%;
	margin-top: 5%;
	clear: right;
}


.pageBtn {
	color: #81bbc0;
	font-size: 1.5rem;
}


.pagination .pageBtn:hover {
	cursor: pointer;
}

.pagination .nextBtn {
	margin-left: 1%;
}

.pagination .prevBtn {
	margin-right: 1%;
}

.acordao-result {
	margin-top: 2%;
	margin-bottom: 3%;
	font-size: 1.1rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	height: 100%;
}

.acordao-result-content {
	background-color: inherit;
	padding-bottom:1%;
	padding:1%;
}

.acordao-result .result-link {
	margin-bottom: 2%;
}

.acordao-result .main-link {
	font-size: 1.2rem;
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid #81bbc0;
	font-weight: bold;
}
.acordao-result .main-link:hover {
	border-bottom: 2px solid #FFE4AA;
}

.result-field {
	font-weight: bold;
}

.result-descritores {
	margin-top:1%;
	margin-bottom:1%;
}

.descritor-div {
	margin-right:1%;
	margin-bottom: 1%;
	margin-top: 1%;
	display: inline-block;
}

.result-descritor {
	font-weight: bold;
    white-space: normal;
    background-color: #e3f4f6;
    padding: 5px;
    display: inline-block;
}

.long-text {
	line-height: 1.5em;
}

.result-bottom {
	position: relative;
	margin-top: 4%;
	border-top: 1px solid white;
}

.bottom-link {
	position: absolute;
	bottom: 5px;
	right: 10px;
	color: #327A81;
	text-decoration: none;
	border-bottom: 2px solid white;
	font-weight: bold;
}

.bottom-link:hover {
	border-bottom: 2px solid #FFE4AA;
}

.loading {
  display: none; 
  width: inherit;
  margin: 10% auto 0 auto;
  text-align: center;
}


.loading-bar {
  display: inline-block;
  width: 8px;
  height: 36px;
  border-radius: 8px;
  animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  background-color: #81bbc0;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #3c434f;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #81bbc0;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #3c434f;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

.emphasis-block {
	background-color: #e3e5e4;
	padding: 2%;
	width: 70%;
	border-left: 10px solid #FFE4AA;
}

#wrench {
	font-size: 3rem;
}

.search-example {
	color: #327a81;
	font-weight: bold;
}

.acks {
	float: right;
	font-size: 0.6rem;
	margin-bottom: 2%;
}

.help-img {
	width: 50%;
}

/**************************/
/* STYLE FOR ACORDAO PAGE */
/**************************/

#container {
	position: static;
	margin-top: 8%;
	margin-bottom: 2%;
}

#ac-sidebar {
	float:left;
	height:100%;
	width: 28%;
	/*padding-left: 10px;*/
	padding-bottom: 5px;
	font-size: 1.1rem;
}

#acordao-main-info {
	font-size: 1.1rem;
}

#acordao-icons {
	color: #52949a;
	font-size: 3rem;
}

#acordao-icons a {
	text-decoration: none;
	color: inherit;
}

.ac-icon {
	cursor: pointer;
}


#ac-sidebar div {
	margin-bottom: 2%;
}

.ac-sidebar-field {
	font-weight: bold;
}


#ac-content {
	width: 60%;
	margin-left: 30%;
	padding-left: 2%;
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media only screen and (max-width: 1200px) {
	#all-content {
		width: 100%;
	}

	#outer-container {
		width: 100%;
	}

	header {
		width: 95%;
		margin: 0 auto;
	}

	#content {
		max-width: 90%;
		margin: 8% auto 0 auto;
	}

	#termos-container {
		width: 75%;
		margin: 0 auto 5% auto;
	}

	/* acordao page */
	#container {
		margin-top: 3%;
	}
	
	#ac-sidebar {
		float:none;
		width: 100%;
		height: auto;
		margin-top: 0;
		margin-bottom: 4%;
		background-color: #81bbc0;
		padding-top: 2%;
		padding-left: 3%;
	}

	#ac-sidebar div {
		margin-bottom: 1%;
	}

	#acordao-icons {
		clear: left;
		color: #555555;
		font-size: 3rem;
	}

	#ac-content {
		width: 70%;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 1000px) {
	#searchbox {
		font-size: 1.5rem;
		width:60%;
	}

	#content {
		max-width: 90%;
		margin: 15% auto 0 auto;
	}
}

@media only screen and (max-width: 700px) {
	#top-nav {
		height:100%;
	}

	#menu-div {
		position: fixed;
		background-color: #81bbc0;;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		right: 0px;
		display: none;
	}

	#top-list {
		position: relative;
		margin-top: 15%;
	}

	#top-list li {
		display: block;
		margin-bottom: 10px;
		font-size: 1.5rem;
	}

	#menu-icon {
		display: block;
		z-index: 10;
		font-size: 1.5rem;	
	}

	#menu-close {
		z-index: 10;
		font-size: 1.5rem;		
	}

	#content {
		max-width: 95%;
		margin: 15% auto 0 auto;
	}

	#searchbox {
		width:75%;
	}

	.searchButtons {
		display: none;
	}

	.searchSpan {
		display: inline-block;
		font-size: 1.5rem;
	}

	.showAdv{
		margin-left: 4%;
	}

	#advancedSearch {
		margin-top: 4%;
		margin-bottom: 4%;
	}

	#procSearch {
		width: 40%;	
		font-size: 1rem;
	}

	#dateSearchiv{
		font-size: 1rem;
	}

	#dateSearchDiv div {
		display: block;
		margin-left: 0;
		margin-bottom: 2%;
	}

	.dateClear {
		font-size: 0.8rem;
	}
	
	#tribCheckBoxes {
		max-width: 500px;
	}

	.trib-long {
		display: none;
	}

	.trib-short {
		display: inline-block;
	}

	#searchResults {
		width: 98%;
		margin: 10% auto 0 auto;
	}

	.acordao-result {
		width: 100%;
		margin: 5% auto 5% auto;
	}

	#container {
		margin-top: 6%;
	}

	#acordao-main-info {
		font-size: 1.15rem;
	}

	#ac-content {
		width: 75%;
	}

	#acordao-main-info {
		float:none;
	}

	.emphasis-block {
		width: 90%;
	}

	.help-img {
		width: 90%;
	}
}


@media only screen and (max-width: 524px) {
	body {
		overflow-x: hidden;
	}

	html {
		font-size: 16px;
	}

	header {
		width: 95%;
		margin: 0 auto;
	}

	#logo {
		font-size: 0.6rem;
	}

	#content {
		max-width: 95%;
		margin: 15% auto 0 auto;
	}

	#searchbox {
		font-size: 1.2rem;
		width:75%;
	}

	#cheatDiv {
		font-size: 1.2rem;
	}

	#procSearchExp {
		font-size: 1.2rem;
	}

	#tribCheckBoxes {
		width: 95%;
	}

	.tribLabel {
		margin-right: 1px;
		margin-bottom: 6px;
	}

	#orderByButtons {
		margin-top: 5%;
	}	

	#searchResults {
		width: 98%;
		margin: 20% auto 0 auto;
	}

	.acordao-result {
		width: 100%;
		margin: 5% auto 5% auto;
	}

	.result-descritor {
	    white-space: normal;
	    font-size: 0.85rem;
	}

	.descritor-div {
		margin-top: 1%;
		margin-bottom: 1%;
	}

	.result-bottom {
		margin-top: 8%;
	}

	.loading {
  		width: inherit;
  		margin: 15% auto 0 auto;
	}

	#ac-sidebar {
		margin-bottom: 5%;
		width: 100%;
		padding-left: 2%;
	}

	#acordao-main-info {
		float:none;
		width: 100%;
	}

	#ac-content {
		margin: 0 auto;
		width: 90%;
		font-size: 1rem;
	}

	#termos-container {
		width: 95%;
		margin: 0 auto 5% auto;
	}

}


