{% extends 'jurisapp/base.html' %}

{% block title %}Login{% endblock %}

{% block body_block %}
<div class="container">
  <div class="spacer-bottom-20"></div>
  <div class="columns">
    <div class="column is-one-third">
      <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <div class="help is-danger"> 
          {{ form.non_field_errors }}
        </div>
        <div class="field">
          <label class="label">{{form.username.label_tag}}</label>
          <div class="control">
              {{form.username}}
          </div>
          <div class="help is-danger">{{form.username.errors}}</div>
        </div>
        <div class="field">
          <label class="label">{{form.password.label_tag}}</label>
          <div class="control">
              {{form.password}}
          </div>
          <div class="help is-danger">{{form.password.errors}}</div>
        </div>
        <div class="spacer-bottom-20"></div>
        <input class="button is-primary" type="submit" value="Submeter">
        <a class="button is-info" href="/">Cancelar</a>      
      </form>
      <div class="spacer-top-20">
        Não tem conta?
      </div>
      <a class="button is-primary" href="/register">Registe-se</a>
    </div>
  </div>

</div>




{% endblock %}