{% extends 'jurisapp/base_with_container.html' %}
{% load static %}

{% block container_block %}

<div class="container">
    <div class="spacer-bottom-20"></div>
    <div class="columns">
        <div class="column is-one-half">
            <div class="spacer-bottom-10 is-size-5">
                Para redefinir a sua palavra-passe, introduza o email associado à sua conta, para onde enviaremos instruções
            </div>
            <form method="post">
                {% csrf_token %}
                
                {% include "jurisapp/snippets/form_snippet.html" %}

                <div class="spacer-bottom-20"></div>
                <input class="button is-primary" type="submit" value="Enviar">
                <a class="button is-info" href="/">Cancelar</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
