{% extends 'jurisapp/base.html' %}
{% load static %}

{% block body_block %}

<div class="container">
    <div class="spacer-bottom-20"></div>
    <div class="columns">
        <div class="column is-one-third">
            <div class="title">Crie uma conta</div>
            <form action="/registar/" method="post">
                {% csrf_token %}
                
                {% include "jurisapp/snippets/form_snippet.html" %}

                <div class="spacer-bottom-20"></div>
                <input class="button is-primary" type="submit" value="Submeter">
                <a class="button is-info" href="/">Cancelar</a>
            </form>
            <div class="spacer-top-20">
                Já tem conta?
            </div>
            <a class="button is-primary is-outlined" href="{% url 'juris_login' %}">Login</a>
            <div class="spacer-top-20">
                Já se registou mas não recebeu email para confirmar a conta?
            </div>
            <a class="button is-primary is-outlined" href="{% url 'resend_confirmation_email' %}">Peça reenvio do email</a>
        </div>
    </div>
</div>

{% endblock %}
