{% extends 'jurisapp/base.html' %}
{% load static %}

{% block body_block %}

<div class="container">
    <div class="spacer-bottom-20"></div>
    <div class="columns">
        <div class="column is-one-third">
            <form action="/register/" method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label">{{form.email.label_tag}}</label>
                    <div class="control">
                        {{form.email}}
                    </div>
                    <div class="help is-danger">{{form.email.errors}}</div>
                </div>
                <div class="field">
                    <label class="label">{{form.password1.label_tag}}</label>
                    <div class="control">
                        {{form.password1}}
                    </div>
                    <div class="help is-danger">{{form.password1.errors}}</div>
                </div>
                <div class="field">
                    <label class="label">{{form.password2.label_tag}}</label>
                    <div class="control">
                        {{form.password2}}
                    </div>
                    <div class="help is-danger">{{form.password2.errors}}</div>
                </div>
                <div class="spacer-bottom-20"></div>
                <input class="button is-primary" type="submit" value="Submeter">
                <a class="button is-info" href="/">Cancelar</a>
            </form>
            <div class="spacer-top-20">
                Já tem conta?
              </div>
              <a class="button is-primary" href="{% url 'juris_login' %}">Entre</a>
        </div>
    </div>
</div>

{% endblock %}
