{% extends 'jurisapp/base.html' %}
{% load static %}
{% load i18n %}

{% block body_block %}

<div class="spacer-bottom-70"></div>
<div class="columns is-desktop">
	<div class="column is-one-quarter"> 
		<div class="menu sticky">
			<div id="acordao-main-info">
				<div class="spacer-bottom-5"><div class="is-size-5 has-text-weight-bold">{{ acordao.tribunal.long_name }}</div></div>
				<div class="spacer-bottom-5"><span class="has-text-primary">Processo </span><br> {{ acordao.processo }}</div>
				<div class="spacer-bottom-5"><span class="has-text-primary">Relator</span><br>{{ acordao.relator }}</div>
				 {% language 'pt' %}
				<div class="spacer-bottom-5"><span class="has-text-primary">Sessão</span><br>{{ acordao.data|date:'d F Y' }}</div>
				{% endlanguage %}
			</div>
			<div id="acordao-other-info">
				{% if acordao.votacao %}<div class="spacer-bottom-5"><span class="has-text-primary">Votação</span><br> {{ acordao.votacao }}</div>{% endif %}
				{% if acordao.meio_processual %}<div class="spacer-bottom-5"><span class="has-text-primary">Meio Processual</span><br> {{ acordao.meio_processual }}</div>{% endif %}
				{% if acordao.decisao %}<div class="spacer-bottom-5"><span class="has-text-primary">Decisão</span><br> {{ acordao.decisao }}</div>{% endif %}
			</div>
			<div class="spacer-bottom-5"><span class="has-text-primary"><a class="button is-dark is-outlined" href = {{ "http://www.dgsi.pt"|add:acordao.url }} target="_blank">Ver versão dgsi.pt</a></span></div>
			<div class="spacer-bottom-5"><span class="has-text-primary"><a class="button is-dark is-outlined" href = "/acordao/{{ acordao.acordao_id }}/pdf" target="_blank">Obter PDF</a></span></div>
		</div>
	</div>

	<div class="column is-half">
		<div class="spacer-bottom-30"> 
			{% for desc in acordao.descritores %}
				<div class="is-inline-block has-background-grey has-text-white has-text-weight-bold spacer-bottom-10 spacer-right-1">
					<span class="result-descritor">{{ desc }}</span>
				</div> 
			{% endfor %}
		</div>
		<div class="title is-4">Sumário</div>
		{{ acordao.sumario|linebreaks }}
		<div class="spacer-bottom-30"></div>
		{% if acordao.txt_integral and acordao.txt_integral.strip %}
			<div class="title is-4">Texto Integral</div>
			<!-- autoescape off to render html as html -->
			{% autoescape off %}
				{{ acordao.html_txt_integral }}
			{% endautoescape %}
		{% elif acordao.txt_parcial and acordao.txt_parcial.strip %}
			<div class="title is-4">Texto Parcial</div>
			{% autoescape off %}
				{{ acordao.html_txt_parcial }}
			{% endautoescape %}
		{% endif %}
	</div>
</div>

{% endblock %}
