<!DOCTYPE html>
{% load static %}
<!-- TODO adding jquery and js and stuff but this needs to be looked at -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static "jurisapp/js/common.js" %}"></script>
{% block scripts_block %}
{% endblock %}
<link rel="stylesheet" href="{% static "jurisapp/css/style.css" %}" />
<link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<html lang="en">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116554949-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-116554949-1');
	</script>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static "jurisapp/images/favicon.ico" %}">
    <title>jurisprudência.pt - Pesquisa de jurisprudência Portuguesa</title>
    <meta name="description" content="Ferramenta de pesquisa de jurisprudência Portuguesa. Encontre os acórdãos mais 
    relevantes e mais recentes dos tribunais superiores em Portugal.">

	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
	<script>
	window.addEventListener("load", function(){
	window.cookieconsent.initialise({
	  "palette": {
	    "popup": {
	      "background": "#e3e5e4",
	      "text": "#3c434f"
	    },
	    "button": {
	      "background": "#81bbc0",
	      "text": "#3c434f"
	    }
	  },
	  "content": {
	    "message": "Este website usa cookies para melhorar o site e a sua experiência",
	    "dismiss": "OK",
	    "link": "Saiba mais",
	    "href": "/termos"
	  }
	})});
	</script>

</head>
<body>
	<div id="all-content">
		<header>
			<div id="logo">
				<h1><a href="/">jurisprudência<span id="ponto">.</span>pt</a></h1>
			</div>
		    <span id="beta">versão beta</span>
			<nav id="top-nav">
				<div id="menu-icon"><i class="fas fa-bars"></i></div>
				<div id="menu-close"><i class="fas fa-times"></i></div>
				<div id="menu-div">
					<ul id="top-list">
					<li><a href="/sobre">sobre</a></li>
					<li><a href="/termos">termos e condições</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<div id="outer-container">
			{% block body_block %} {% endblock %}
		</div>
	</div>
</body>
</html>