<!DOCTYPE html>
{% load static %}
<!-- TODO adding jquery and js and stuff but this needs to be looked at -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% block scripts_block %} {% endblock %}
<link rel="stylesheet" href="{% static "jurisapp/css/style.css" %}" />
<link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
<!--<script src="https://use.fontawesome.com/5cf83d41d3.js"></script>-->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static "jurisapp/images/j_icon.ico" %}">
    <title>jurisprudência.pt</title>
</head>
<body>
	<div id="all-content">
		<header>
			<div id="logo">
				<h1><a href="/jurisapp/"> jurisprudência<span id="ponto">.</span>pt</a></h1>
			</div>
			<!-- use <nav>
			</nav> -->
		</header>
		{% block body_block %} {% endblock %}
	<div id="all_content">
</body>
</html>