{% extends 'jurisapp/base.html' %}
{% load static %}


{% block scripts_block %}
	<script src="{% static "jurisapp/js/jurisappjs.js" %}"></script>
{% endblock %}

{% block body_block %}

	<div id="content">
		<input type="text" id="searchbox" placeholder="procure jurisprudência" autofocus>

		<div id="tribCheckBoxes">
			<label class="tribLabel" data-selected="true" data-trib="TRL">
				Tribunal da Relação de Lisboa
				<i class="far fa-check-circle tick-icon ticked"></i>
				<i class="far fa-circle tick-icon not-ticked"></i>
			</label>
			<label class="tribLabel" data-selected="true" data-trib="TRP">
				Tribunal da Relação do Porto
				<i class="far fa-check-circle tick-icon ticked"></i>
				<i class="far fa-circle tick-icon not-ticked"></i>
			</label>
			<label class="tribLabel" data-selected="true" data-trib="TRC">
				Tribunal da Relação de Coimbra				
				<i class="far fa-check-circle tick-icon ticked"></i>
				<i class="far fa-circle tick-icon not-ticked"></i>
			</label>
			<label class="tribLabel" data-selected="true" data-trib="TRG">
				Tribunal da Relação de Guimarães
				<i class="far fa-check-circle tick-icon ticked"></i>
				<i class="far fa-circle tick-icon not-ticked"></i>
			</label>
			<label class="tribLabel" data-selected="true" data-trib="TRE">
				Tribunal da Relação de Évora
				<i class="far fa-check-circle tick-icon ticked"></i>
				<i class="far fa-circle tick-icon not-ticked"></i>				
			</label>
		</div>

		<div id="orderByButtons">
  			<button class="orderByButton" id="recentBtn" data-selected="false">+ recente</button>
			<button class="orderByButton" id="relevanceBtn" data-selected="false">+ relevante</button>
		</div>


		<div class="loading">
			  <div class="loading-bar"></div>
			  <div class="loading-bar"></div>
			  <div class="loading-bar"></div>
			  <div class="loading-bar"></div>
		</div>
		<div id="searchResults"></div>
	</div>



{% endblock %}