{% extends 'jurisapp/base.html' %}
{% load static %}


{% block scripts_block %}
	<script src="{% static "jurisapp/js/jurisappjs.js" %}"></script>
{% endblock %}

{% block body_block %}

	<div id="content">
		<input type="text" id="searchbox" placeholder="procure jurisprudência" autofocus>

		<div id="tribCheckBoxes">
			<label class="tribLabel">
				Tribunal da Relação de Lisboa
				<input type="checkbox" class="tribCheck" id="trlCheck" checked="true" data-trib="TRL">
			</label>
			<label class="tribLabel">
				Tribunal da Relação do Porto
				<input type="checkbox" class="tribCheck" id="trpCheck" checked="true" data-trib="TRP">
			</label>
			<label class="tribLabel">
				Tribunal da Relação de Coimbra				
				<input type="checkbox" class="tribCheck" id="trcCheck" checked="true" data-trib="TRC">
			</label>
			<label class="tribLabel">
				Tribunal da Relação de Guimarães
				<input type="checkbox" class="tribCheck" id="trgCheck" checked="true" data-trib="TRG">
			</label>
			<label class="tribLabel">
				Tribunal da Relação de Évora
				<input type="checkbox" class="tribCheck" id="treCheck" checked="true" data-trib="TRE">				
			</label>
		</div>

		<div id="orderByButtons">
  			<button class="orderByButton" id="recentBtn" data-selected="false">+ recente</button>
			<button class="orderByButton" id="relevanceBtn" data-selected="false">+ relevante</button>
		</div>


		<div class="loading">
			  <div class="loading-bar"></div>
			  <div class="loading-bar"></div>
			  <div class="loading-bar"></div>
			  <div class="loading-bar"></div>
		</div>
		<div id="searchResults"></div>
	</div>



{% endblock %}