{% extends 'jurisapp/base.html' %}
{% load static %}
{% load i18n %}

{% block body_block %}

<div class="spacer-bottom-50"></div>

<div class="title">Acórdãos Recentes</div>

<div id="searchResults">

<div class="columns">
    <div class="column is-three-quarters">
        {% for acordao in acordaos %}
        <div class="box spacer-bottom-10">
            <div class="acordao-result-content">
                <div class="result-link spacer-bottom-10"><a class="has-text-primary title is-5" href="/acordao/{{ acordao.id }}" target="_blank"> Processo nº {{ acordao.processo }}</a></div>
                <div class="spacer-bottom-10">
                    <span class="has-text-weight-bold">Tribunal:</span> {{ acordao.tribunal_long }} <br>
                    {% language 'pt' %}
                    <span class="has-text-weight-bold">Sessão:</span> {{ acordao.data|date:'d F Y' }} <br>
                    {% endlanguage %}
                    <span class="has-text-weight-bold">Relator:</span> {{acordao.relator}}<br>
                </div>
                <div class="spacer-top-10 spacer-bottom-10">
                    {% for desc in acordao.descritores %}
                    <div class="is-inline-block has-background-grey has-text-white has-text-weight-bold spacer-bottom-10 spacer-right-1">
                        <span class="result-descritor">{{ desc }}</span>
                    </div> 
                    {% endfor %}
                </div>
                <div class="long-text">{{ acordao.sumario|truncatechars:500 }}</div>
            </div>
            <div class="level">
                <div class="level-left"></div>
                <div class="right">
                    <div class="level-item">
                        <a href="/acordao/{{ acordao.id }}" target="_blank" class="has-text-primary has-text-weight-bold">ver acórdão</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


