{% extends 'jurisapp/base.html' %}
{% load static %}


{% block body_block %}
<div id="termos-container">
	<h3>Termos e Condições</h3>
	<p>Salvo indicação em contrário, os textos legais presentes no jurisprudencia.pt (o "site") são de domínio público.</p>

	<p>
		A informação disponibilizada destina-se a utilização privada como meio auxiliar de informação e não dispensa, na resolução de qualquer questão concreta, o recurso à consulta de especialistas e/ou aos serviços e organismos oficiais.

		O site não assume qualquer responsabilidade pela exactidão dos conteúdos apresentados, nem por quaisquer prejuízos que daí possam advir para o utilizador, seja a que título for. 
	</p>

	<p>
		Não garantimos a inexistência de alguma imprecisão nos conteúdos disponibilizados, independentemente de qual o motivo que a origina. A informação fornecida é de carácter geral e não é necessariamente exaustiva, completa, rigorosa ou actualizada. Não se pode garantir que a informação disponibilizada no site reproduza, de forma exacta, o texto adoptado oficialmente.
	</p>

	<p>
		A informação disponibilizada no site não constitui um parecer profissional ou jurídico (se precisar de aconselhamento específico, deverá sempre recorrer a um profissional devidamente qualificado).
	</p>

	<p>
		O utilizador obriga-se a não utilizar o site de forma que cause, ou possa vir a causar, problemas na utilização do site ou provoque interrupções na sua disponibilidade.
	</p>

	<h3>Política de Privacidade e Cookies</h3>
	<p> 
		O site não recolhe quaisquer dados pessoais dos seus utilizadores.
	</p>

	<p>
		Um cookie é um pequeno ficheiro de texto que contêm quantidades de informação reduzidas descarregadas para o computador ou outros dispositivos dos utilizadores através de um servidor.

		O site utiliza cookies no contexto de recolha de dados que nos permitem monitorizar com que frequência e de que forma os utilizadores acedem ao site, para aferir as preferências dos nossos utilizadores e contribuir para a otimização do funcionamento do site. Não são recolhidos dados pessoais e esta informação é usada apenas para efeitos estatísticos sem identificação de qualquer utilizador em particular. 
	</p>

	<p>
		A grande maioria dos browsers permite aos utilizadores visualizar os cookies alojados e eliminá-los individualmente ou alternativamente bloquear os cookies num determinado website ou todos em geral.
	</p>

	<p>
		Para saber mais, visite <br><a href="https://cookiesandyou.com/" target="_blank">cookiesandyou.com</a> || <a href="https://support.google.com/analytics/answer/6004245" target="_blank">Google Analytics</a>
	</p>

</div>


{% endblock %}