{% extends 'jurisapp/base.html' %}
{% load static %}


{% block body_block %}
<div id="termos-container">
	<h3>Termos e Condições</h3>

	<p>
		Tentamos assegurar que o texto dos acórdãos disponibilizados no jurisprudencia.pt (o "Site") reflita de forma exacta a versão adotada oficialmente, mas não garantimos a inexistência de alguma imprecisão, independentemente da sua origem. A informação fornecida não é necessariamente exaustiva, completa, exata ou actualizada.
	</p>

	<p>
		O Site não assume qualquer responsabilidade pela exatidão dos conteúdos apresentados, nem por quaisquer prejuízos que daí possam advir para o utilizador, seja a que título for. 
	</p>

	<p>
		A informação disponibilizada no Site não constitui um parecer profissional ou jurídico. Se precisar de aconselhamento específico, deverá sempre recorrer a um profissional devidamente qualificado.
	</p>

	<p>
		O utilizador obriga-se a não utilizar o Site de forma que cause, ou possa vir a causar, problemas na utilização do Site ou provoque interrupções na sua disponibilidade.
	</p>

	<h3>Política de Privacidade e Cookies</h3>
	<p> 
		O Site não recolhe quaisquer dados pessoais dos seus utilizadores.
	</p>

	<p>
		Um cookie é um pequeno ficheiro de texto que contêm quantidades de informação reduzidas descarregadas para o computador ou outros dispositivos dos utilizadores através de um servidor.

		O Site utiliza cookies no contexto de recolha de dados (através do serviço Google Analytics) que nos permitem monitorizar com que frequência e de que forma os utilizadores acedem ao Site, para aferir as preferências dos nossos utilizadores e contribuir para a otimização do funcionamento do Site. Não são recolhidos dados pessoais e esta informação é usada apenas para efeitos estatísticos sem identificação de qualquer utilizador em particular. 
	</p>

	<p>
		A grande maioria dos browsers permite aos utilizadores visualizar os cookies alojados e eliminá-los individualmente ou alternativamente bloquear os cookies num determinado website ou todos em geral.
	</p>

	<p>
		Para saber mais, visite <br><a href="https://cookiesandyou.com/" target="_blank">cookiesandyou.com</a> || <a href="https://policies.google.com/technologies/partner-sites?hl=pt-pt&gl=pt" target="_blank">Google Analytics</a>
	</p>

	<p>Para alterar a sua escolha quanto à utilização de cookies, carregue no botão abaixo:</p>

	<button id="cookieBtn">Cookies</button>

</div>


{% endblock %}