<div id="tribCheckBoxes" class="spacer-top-20">
    <label class="tribLabel spacer-bottom-10 has-background-white-ter" data-selected="true" data-trib="STJ">
        <span class="trib-long">Supremo Tribunal de Justiça</span>
        <span class="trib-short">STJ</span>
        <i class="far fa-check-circle tick-icon ticked has-text-primary"></i>
        <i class="far fa-circle tick-icon not-ticked"></i>
    </label>
    <label class="tribLabel has-background-white-ter" data-selected="true" data-trib="TRL">
        <span class="trib-long">Tribunal da Relação de Lisboa</span>
        <span class="trib-short">TR Lisboa</span>
        <i class="far fa-check-circle tick-icon ticked has-text-primary"></i>
        <i class="far fa-circle tick-icon not-ticked"></i>
    </label>
    <label class="tribLabel has-background-white-ter" data-selected="true" data-trib="TRP">
        <span class="trib-long">Tribunal da Relação do Porto</span>
        <span class="trib-short">TR Porto</span>
        <i class="far fa-check-circle tick-icon ticked has-text-primary"></i>
        <i class="far fa-circle tick-icon not-ticked"></i>
    </label>
    <label class="tribLabel has-background-white-ter" data-selected="true" data-trib="TRC">
        <span class="trib-long">Tribunal da Relação de Coimbra</span>
        <span class="trib-short">TR Coimbra</span>			
        <i class="far fa-check-circle tick-icon ticked has-text-primary"></i>
        <i class="far fa-circle tick-icon not-ticked"></i>
    </label>
    <label class="tribLabel has-background-white-ter" data-selected="true" data-trib="TRG">
        <span class="trib-long">Tribunal da Relação de Guimarães</span>
        <span class="trib-short">TR Guimarães</span>				
        <i class="far fa-check-circle tick-icon ticked has-text-primary"></i>
        <i class="far fa-circle tick-icon not-ticked"></i>
    </label>
    <label class="tribLabel has-background-white-ter" data-selected="true" data-trib="TRE">
        <span class="trib-long">Tribunal da Relação de Évora</span>
        <span class="trib-short">TR Évora</span>				
        <i class="far fa-check-circle tick-icon ticked has-text-primary"></i>
        <i class="far fa-circle tick-icon not-ticked"></i>				
    </label>
</div>
