{% extends 'jurisapp/dossier/dossier_base.html' %}
{% load i18n %}

{% block content %}

<div class="spacer-top-20"></div>
{% if folder.acordaos.count == 0 %}
    <div class="is-size-3 has-text-grey-dark">
        Ainda não guardou aqui nada 🤷
    </div>
    <div class="spacer-top-20"></div>
    <a class="button" href="{% url 'juris_index' %}">Procure acórdãos</a>
{% endif %}
{% for acordao in folder.acordaos.all %}
    {% include "jurisapp/snippets/acordao_box_snippet.html" with acordao_id=acordao.acordao_id descritores=acordao.descritores_as_list %}
{% endfor %}

{% endblock %}
