{% extends 'jurisapp/dossier/dossier_base.html' %}
{% load i18n %}

{% block content %}
<input id="folder-id" type="hidden" value={{folder.id}}>
<div class="spacer-top-20"></div>
<div>
    <span id="folder-name" class="has-text-weight-bold is-size-1">{{ folder.name }}</span> 
    <div id="folder-name-input-area" class="columns is-hidden">
        <div class="column is-4">
        <input type="text" id="folder-name-input" class="input" value="{{ folder.name }}">
        </div>
        <div class="column is-1"><span id="confirm-folder-name" class="is-size-4 is-hidden pointer-on-hover">✅</span></div>
    </div>
    <span id="edit-folder-name" class="is-size-6 pointer-on-hover">✏️</span>
</div>
<div>
    <span id="folder-description" class="is-size-3">{{ folder.description }}</span>
        <div id="folder-description-input-area" class="columns is-hidden">
        <div class="column is-10">
        <input type="text" id="folder-description-input" class="input" value="{{ folder.description }}">
        </div>
        <div class="column is-1"><span id="confirm-folder-description" class="is-size-4 is-hidden pointer-on-hover">✅</span></div>
    </div>
    <span id="edit-folder-description" class="is-size-6 pointer-on-hover">✏️</span>
</div>
<div class="spacer-top-20"></div>
{% if folder.acordaos.count == 0 %}
    <div class="is-size-3 has-text-grey-dark">
        Ainda não guardou aqui nada 🤷
    </div>
    <div class="spacer-top-20"></div>
    <a class="button" href="{% url 'juris_index' %}">Procure acórdãos</a>
{% endif %}
{% for acordao in folder.acordaos.all %}
    {% include "jurisapp/snippets/acordao_box_snippet.html" with acordao_id=acordao.acordao_id descritores=acordao.descritores_as_list %}
{% endfor %}

{% endblock %}
