{% extends 'jurisapp/dossier/dossier_base.html' %}
{% load i18n %}

{% block content %}

<div class="spacer-top-20"></div>
{% if folder.acordaos.count == 0 %}
    <div class="is-size-3 has-text-grey-dark">
        Ainda não guardou aqui nada 🤷
    </div>
    <div class="spacer-top-20"></div>
    <a class="button" href="{% url 'juris_index' %}">Procure acórdãos</a>
{% endif %}
{% for acordao in folder.acordaos.all %}
<div class="box has-background-white-ter is-shadowless spacer-bottom-20">
    <div class="acordao-result-content">
        <div class="result-link spacer-bottom-20"><a class="title is-5" href="/acordao/{{ acordao.acordao_id }}" target="_blank"> Processo nº {{ acordao.processo }}</a></div>
        <div class="spacer-bottom-20">
            <div class="spacer-bottom-10"><span class="has-text-weight-bold">Tribunal:</span> {{ acordao.tribunal.long_name }}</div>
            {% language 'pt' %}
            <div class="spacer-bottom-10"><span class="has-text-weight-bold">Sessão:</span> {{ acordao.data|date:'d F Y' }}</div>
            {% endlanguage %}
            <div class="spacer-bottom-10"><span class="has-text-weight-bold">Relator:</span> {{acordao.relator}}</div>
        </div>
        <div class="spacer-top-10 spacer-bottom-10">
            {% for desc in acordao.descritores_as_list %}
            <div class="descritor-box is-inline-block has-background-info has-text-white has-text-weight-bold spacer-bottom-10 spacer-right-1">
                <span class="result-descritor">{{ desc }}</span>
            </div> 
            {% endfor %}
        </div>
        <div class="long-text spacer-bottom-10">{{ acordao.sumario|truncatechars:500 }}</div>
    </div>
    <div class="level">
        <div class="level-left"></div>
        <div class="right">
            <div class="level-item">
                <a href="/acordao/{{ acordao.acordao_id }}" target="_blank" class="button is-info has-text-weight-bold">ver acórdão</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
